<!doctype html>

<html>
<head>
  <title>404 - Not Found</title>
  <!--import bootstrap css-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color:black;">
  <!-- reference static picture file as decribed in https://stackoverflow.com/questions/28207761/where-does-flask-look-for-image-files -->
  <!-- picture courtesy of https://http.cat/  -->
  <img src="/static/img/404.jpeg" alt="NOT FOUND" class="rounded mx-auto d-block">
</body>
